/* ROOM CSS  */

:root {
    --text-color1: #2C3E50;
    --text-color2: #fff;
    --bg-color1: #fff;
    --bg-color2: #d35400;
    --bg-color3: #2C3E50;
}

.rooms-container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: var(--text-color1);
}

.rooms-hero {
    text-align: center;
    margin-bottom: 2rem;
}

.rooms-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.room-card {
    background: var(--bg-color1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.room-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-info {
    padding: 1rem;
}

.room-info h2 {
    margin-bottom: 0.5rem;
    text-align: start;
}

.room-info p {
    margin: 0.3rem 0;
}

.room-info button {
    margin-top: 1rem;
    padding: 10px 15px;
    background: var(--bg-color3);
    color: var(--text-color2);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.room-info button:hover {
    background: var(--bg-color2);
    transform: scale(1.05);
}

footer {
    position: relative;
    bottom: 0;
}