/* form submitted CSS file  */

:root {
    --bg-color1: #fff;
    --bg-color3: #d35400;

    --text-color1: #fff;
    --text-color2: #2C3E50;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #2C3E50, #34495E);
    color: var(--text-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
.success-card {
    background: var(--bg-color1);
    color: var(--text-color2);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.6s ease;
    margin: 4rem 0 2rem 0;
}

.success-card h1 {
    text-align: center;
    color: var(--text-color2);
    text-align: start;
    font-size: 1.5rem;
    font-weight: bold;
}



.success-card p {
    margin: 8px 0;
    line-height: 1.5;
}

/* Button */
.home-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    background: var(--text-color2);
    color: var(--text-color1);
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.home-btn:hover {
    background: var(--bg-color3);
    transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}