* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 15px 20px 30px;
    color: #fff;
    font-size: 20px;
}

h1,
header {
    display: flex;
    flex-direction: column;

}

header {
    padding: 16px;
    background-color: #000;
}

h1,
footer {
    background-color: #413b3b;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


main {
    max-width: 100%;
    height: 400px;
}

header,
aside,
footer {
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h2,
h3 {
    padding: 16px;
}

section {
    background-color: #ebebebeb;
}

aside {
    background-color: #fff;
}

footer {
    padding: 16px;
    color: #fff;
    bottom: 0;
}