:root {
    --primary-color: #3636b6;
    --secondary-color: #fbbc05;
    --accent-color: #34a853;
    --text-color: #222;
    --bg-color: #ffffff;
    --shadow-color: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 100px;
}

#course-title {
    display: block;
    text-align: center;
    padding: 14px;
    font-size: 16px;
    color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg-color);
    z-index: 1000;
}

nav {
    background-color: var(--text-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: 1 1 100%;
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

nav ul li a {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
    color: var(--bg-color);
}

h1 {
    text-align: center;
    padding: 16px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: 10px 15px 4px var(--shadow-color);
    border-radius: 10px;
}

/* about container  */
.about-container {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 10px;
    margin-bottom: 16px;
}

h2,
h3 {
    grid-column: span 2;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.enssah {
    max-width: 150px;
    height: auto;
    align-self: self-start;
}

.me {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid var(--text-color);
    grid-column: 1 / 3;
    max-width: 400px;
    margin: 0 40px auto;
}

/* flag container  */

.flag-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    padding: 10px;
}

.lib-flag {
    max-width: 150px;
    height: 130px;
}

.flag-name {
    text-align: start;
    grid-column: 1 / 2;
}

/* resource container  */
.resource-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.resource-container ul {
    margin: 60px 40px 10px;
    grid-column: 1 / 2;
}

.resource-container ul li {
    padding: 5px;
}

.resource-container ul li a:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

footer {
    padding: 3px;
}

#course-title,
h2,
h3,
footer {
    max-width: 100%;
    height: auto;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

footer p {
    text-align: center;
    margin: 10px;
}

#lastModified {
    color: var(--secondary-color);
    text-align: center;
}