:root {
    --liberia-blue: #002868;
    --liberia-red: #BF0A30;
    --liberia-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background: var(--liberia-blue);
    color: white;
    text-align: center;
}

header {
    border-bottom: 25px solid var(--liberia-red);
}

main {
    flex: 1;
    position: relative;
}

.info-grid {
    display: grid;
    gap: 1.5rem;
}

section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

h1 {
    padding: 1rem;
}
h2 {
    text-align: center;
    padding: .9rem;
}

h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--liberia-red);
    margin: 0 auto;
}

ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.25rem 0;
}

strong {
    justify-self: end;
}

.weather-icon {
    width: 48px;
    margin: 0 auto;
    height: auto;
    display: block;
}

/* ===== WIDE SCREENS ===== */
@media (min-width: 1024px) {
    h2 {
        color: var(--liberia-white);
        background-color: var(--liberia-blue);
        margin-left: -1.8rem;
        text-align: start;
        padding: .9rem;
    }

    h2::after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: var(--liberia-red);
        margin: 0;
    }

    #picture-container {
        position: fixed;
        inset: 0;
        z-index: -1;
    }

    #picture-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #country-info {
        position: fixed;
        top: 6.5rem;
        left: 2rem;
        max-width: 260px;
        padding: .8rem;
    }

    #weather-info {
        position: fixed;
        bottom: 5rem;
        right: 1rem;
        max-width: 260px;
        padding: .8rem;
    }

    .weather-icon {
        position: absolute;
        top: 1.4rem;
        right: 2.5rem;
    }
}

footer {
    margin-top: auto;
    padding: 0.5rem;
    line-height: 1.5rem;
}