:root {
    --liberia-blue: #002868;
    --liberia-red: #BF0A30;
    --liberia-white: #FFFFFF;

    --color-bg: var(--liberia-white);
    --color-text: var(--liberia-blue);
    --color-header-bg: var(--liberia-blue);
    --color-header-text: var(--liberia-white);
    --color-accent: var(--liberia-red);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 25px solid var(--color-accent);
}

header,
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    text-align: center;
}

main {
    flex: 1;
    position: relative;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

section {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

h1 {
    padding: 0.5rem;
}

h2,
h3 {
    text-align: center;
    padding: 1rem;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.25rem 0;
}

ul li strong {
    justify-self: end;
}

ul li span {
    justify-self: start;
}

.weather-icon {
    width: 48px;
    height: auto;
    display: block;
    margin: 0 auto 0.25rem;
}

#picture-container img {
    width: 100%;
    height: auto;
}

/* ===== WIDE SCREEN ONLY ===== */
@media (min-width: 1024px) {

    h2,
    h3 {
        color: var(--color-header-text);
        background-color: var(--color-accent);
        margin-left: -1.8rem;
        text-align: start;
    }

    header {
        padding: .5rem;
    }

    #picture-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        overflow: hidden;
    }

    #picture-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Smaller containers */
    #country-info,
    #weather-info {
        max-width: 260px;
        padding: 1rem;
    }

    /* Position sections */
    #country-info {
        position: fixed;
        top: 6.5rem;
        left: 2rem;
    }

    #weather-info {
        position: fixed;
        bottom: 4.5rem;
        right: 2rem;
    }

    .weather-icon {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        width: 40px;

    }

    .info-grid {
        display: block;
    }
}

/* ===== Footer ===== */
footer {
    margin-top: auto;
    line-height: 1.5rem;
    padding: .5rem;
}