:root {
    --liberia-blue: #002868;
    --liberia-red: #BF0A30;
    --liberia-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background: var(--liberia-blue);
    color: var(--liberia-white);
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 25px solid var(--liberia-red);
}

main {
    flex: 1;
    position: relative;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

section {
    background: var(--liberia-white);
    border-radius: 10px;
}

h1 {
    padding: 1rem;
}

h2,
h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--liberia-red);
    padding-bottom: 10px;
}

ul {
    margin-top: 0.5rem;
}

ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.25rem 0;
}

strong {
    justify-self: end;
}

.weather-icon {
    width: 48px;
    height: auto;
    display: block;
    margin: 0 auto 0.25rem;
    margin-top: .5rem;
}

#picture-container img {
    width: 100%;
    height: auto;
}

/* ===== WIDE SCREENS ===== */
@media (min-width: 1024px) {

    h2,
    h3 {
        color: var(--liberia-white);
        background-color: var(--liberia-blue);
        margin-left: -1.5rem;
        text-align: start;
        padding: .9rem;
    }

    h3::after {
        content: "🌦️";
        display: block;
        margin: -1rem auto;
        float: right;
        font-size: 2.5rem;
    }

    #picture-container {
        position: fixed;
        inset: 0;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        overflow: hidden;

    }

    #picture-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #country-info {
        position: fixed;
        top: 6.5rem;
        left: 2rem;
        max-width: 260px;
        padding: .8rem;
    }

    #weather-info {
        position: fixed;
        bottom: 5rem;
        right: 1rem;
        max-width: 260px;
        padding: .8rem;
    }

    .weather-icon {
        display: none;
    }

    .info-grid {
        display: block;
    }
}

footer {
    margin-top: auto;
    padding: 0.8rem;
    line-height: 1rem;
    position: relative;
    bottom: 0;
}