/* temple.css */
/* Mobile-first (small screens) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: auto;
}

header,
main,
footer {
    width: 100%;
}

span {
    font-weight: bold;
    font-size: 1.8rem;
}

header {
    background-color: blueviolet;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 30px #333;
}

/* Stack nav items vertically on small screens */
header,
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

nav li {
    display: none;
}

nav li a {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

.active {
    color: yellow;
}

nav li a:hover {
    border-radius: 10px;
    letter-spacing: 0.2rem;
    text-decoration: 1px underline double red;
    background-color: #eee;
    color: #000;

}

footer,
header span,
header nav a,
header nav li {
    color: white;
}

main {
    padding: 1rem;
}

h1 {
    text-align: center;
}

/* Single-column layout for small screens */
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: white;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

figcaption {
    color: blueviolet;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
}

img {
    width: 330px;
    height: 200px;
}

footer {
    background-color: blueviolet;
    text-align: center;
}

#currentyear,
#lastModified {
    font-size: 1.5rem;
    padding: 1rem;
}

/* menu  */
#menu {
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open li {
    display: block;
}