/* media query css file  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 16px;
    background-color: #e6f2ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

section {
    padding: 16px;
    background-color: #fff;
}

/* media query  */
@media screen and (min-width: 500px) {
    header {
        background-color: #000;
        color: #fff;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}